@{
    ViewData["Title"] = "Home Page";
}
 <html>
<head>
    <link rel="icon" href="~/favicon.png"/>
</head>
<body id="body" onclick="click">
    <h1 id="welcome">Welcome</h1>
    <a asp-controller="CookieClicks" asp-action="Index">Cookie Clicker</a>
    <br />
    <a href="~/html/calculator.html">Calculator</a>
    <br />
    <a href="~/html/HebrewLettersRearrannge/rearrange.html">Number/Hebrew Rearrange Game</a>
    <br />
    <a href="~/html/bopIt.html">Bop-It</a>
</body>
</html>