<html lang="en">
<head>
    <title>@ViewData["Title"]-DarthRellier Games</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="head">
        <h1>DarthRellier Games    </h1>
        <a asp-controller="CookieClicks" asp-action="Index">Cookie Clicker &nbsp;</a>
        <a href="~/html/bopIt.html">Bop-It &nbsp;</a>
        <a href="~/html/calculator.html">Calculator &nbsp;</a>
        <a href="~/html/HebrewLettersRearrannge/rearrange.html">Number/Hebrew Rearrange Game</a>
    </div>
    <hr />
        <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>